.roleGradeCal {
  position:relative;
  padding: 20px;
  width: 500px;
  height: 550px;
  font-size: 24px;
  border: 5px solid rgba(200,200,200,1);
  border-radius: 20px;
  text-align: center;
  margin: auto;
  font-weight: bold;
}

.btn-light :hover {
  background-color: gray;
}

.changeGradeByMan {
  display: flex;
  margin: 15px auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.gradeInput {
  width: 64%;
  font-size: 20px;
  padding-left: 5px;
  border-radius: 5px;
}

button {
  font-weight: bold;
}

p {
  margin-top: 20px;
}
