.black {
  display: flex;
  width: 300px;
  height: 300px;
  position: relative;
  background-color: #474a4d;
  z-index: 0;
  margin: auto;
}

.orange {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 0px;
  background-color: #f7b977;
  z-index: 1;
}

.green {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: #028760;;  z-index: 2;
}
