.formRegion {
  width: 500px;
  height: 400px;
  border: 5px solid rgba(200,200,200,1);
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  background-color: rgba(255,255,255,1);
}

.title {
  font-size: 30px;
  margin: 50px 0 40px 0;
}

.idCell,
.passwordCell {
  margin-bottom: 25px;
}

.textInput {
  width: 300px;
  height: 40px;
  border: 2px solid rgba(60,180,235,1);
  border-radius: 12px;
  padding: 0 10px;
}

.fitFont {
  font-size: 20px;
}

.buttonCell {
  margin-top: 55px;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.button {
  width: 35%;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,1);
  overflow: auto;
  &:hover{
    cursor: pointer;
  }
}

.confirmButton {
  border: 2px solid rgba(60,180,235,1);
  color: rgba(60,180,235,1);
  transition: background-color 0.5s ease;
  &:hover{
    background-color:  rgba(60,180,235,1);
    color: rgba(255,255,255,1);
  }
}

.cancelButton {
  border: 2px solid rgba(100,100,100,1);
  color: rgba(100,100,100,1);
  transition: background-color 0.5s ease;
  &:hover{
    background-color: rgba(100,100,100,1);
    color: rgba(255,255,255,1);
  }
}
