<div class="block">
    <div class="item1 itemSetting"><p>Flex Item 1</p></div>
    <div class="item2 itemSetting"><p>Flex Item 2</p></div>
    <div class="item3 itemSetting"><p>Flex Item 3</p></div>
    <div class="item4 itemSetting"><p>Flex Item 4</p></div>
    <div class="item5 itemSetting"><p>Flex Item 5</p></div>
</div>
<div class="block" style="margin-top: 10px;">
    <div class="item5 itemSetting"><p>Flex Item 5</p></div>
    <div class="item4 itemSetting"><p>Flex Item 4</p></div>
    <div class="item3 itemSetting"><p>Flex Item 3</p></div>
    <div class="item2 itemSetting"><p>Flex Item 2</p></div>
    <div class="item1 itemSetting"><p>Flex Item 1</p></div>
</div>


