* {
  text-align: center;
}

h1,
h3,
h5 {
 font-weight: bold;
 margin:0px;
}

.background {
  position: relative;
  height: 81.5vh;
  width: 90vw;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.btn-group {
  width: 950px;
  margin-left: 10px;
}

.button {
  font-weight: bold;
}

.displayRegion {
  display: flex;
  justify-content: center;
  gap: 2vw;
  width: auto;
  height: auto;
}

.textRegion {
  height: 51vh;
  max-height: 100%;
  text-align: left;
  overflow: auto;
  padding-right: 20px;
  line-height: 2;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(200, 200, 200);
}

.data {
  width: 240px;
  padding: 20px;
  border: 2px solid;
  border-radius: 15px;
}

.chartRegion {
  width: 42%;
}
