.exBtn {
  height: auto;
  max-height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1vh 2vw;
  justify-content: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  border: 3px solid black;
  border-radius: 50px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  &:hover{
    background-color: rgb(220,220,220);
  }
}

.btnLine2 {
  width: auto;
  font-size: 25px;
  background: linear-gradient(45deg, #F0070C, #CC26D5, #7702FF);
  background-clip: text;
  color: transparent;
}
