<div class="exBtn">
  <button type="button" class="btn" routerLink="/exercise1"><div>Exercise 1<div class="btnLine2">純HTML</div>2025 02 10</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise2"><div class="btn-text">Exercise 2<div class="btnLine2">CSS切版</div>2025 02 11</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise3"><div class="btn-text">Exercise 3<div class="btnLine2">登入視窗</div>2025 02 11</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise4"><div class="btn-text">Exercise 4<div class="btnLine2">CSS排版</div>2025 02 11</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise5"><div class="btn-text">Exercise 5<div class="btnLine2">CSS父子關係</div>2025 02 12</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise6"><div class="btn-text">Exercise 6<div class="btnLine2">變數顯示文字</div>2025 02 12</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise7"><div class="btn-text">Exercise 7<div class="btnLine2">TypeScript迴圈</div>2025 02 13</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise8"><div class="btn-text">Exercise 8<div class="btnLine2">TypeScript判斷式</div>2025 02 13</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise9"><div class="btn-text">Exercise 9<div class="btnLine2">元件引用</div>2025 02 13</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise10"><div class="btn-text">Exercise 10<div class="btnLine2">角色等級計算機</div>2025 02 14</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise11"><div class="btn-text">Exercise 11<div class="btnLine2">使用HTML導航</div>2025 02 14</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise12"><div class="btn-text">Exercise 12<div class="btnLine2">使用TypeScript導航</div>2025 02 14</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise13"><div class="btn-text">Exercise 13<div class="btnLine2">Service資料傳遞</div>2025 02 17</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise14"><div class="btn-text">Exercise 14<div class="btnLine2">Input/Output資料傳遞</div>2025 02 17</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise15"><div class="btn-text">Exercise 15<div class="btnLine2">職業選擇</div>2025 02 17</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise16"><div class="btn-text">Exercise 16<div class="btnLine2">陣列位置搜索</div>2025 02 17</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise17"><div class="btn-text">Exercise 17<div class="btnLine2">陣列顯示</div>2025 02 17</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise18"><div class="btn-text">Exercise 18<div class="btnLine2">串接API</div>2025 02 18</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise19"><div class="btn-text">Exercise 19<div class="btnLine2">Interface設定</div>2025 02 19</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise20"><div class="btn-text">Exercise 20<div class="btnLine2">資料排序</div>2025 02 19</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise21"><div class="btn-text">Exercise 21<div class="btnLine2">mat-table套件</div>2025 02 19</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise22"><div class="btn-text">Exercise 22<div class="btnLine2">mat-icon套件</div>2025 02 19</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise23"><div class="btn-text">Exercise 23<div class="btnLine2">日期選擇器</div>2025 02 19</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise24"><div class="btn-text">Exercise 24<div class="btnLine2">即時搜尋</div>2025 02 20</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise25"><div class="btn-text">Exercise 25<div class="btnLine2">ngClass動態樣式</div>2025 02 20</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise26"><div class="btn-text">Exercise 26<div class="btnLine2">Tabs切換頁面</div>2025 02 20</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise27"><div class="btn-text">Exercise 27<div class="btnLine2">Select選單</div>2025 02 20</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise28"><div class="btn-text">Exercise 28<div class="btnLine2">圓餅圖</div>2025 02 21</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise29"><div class="btn-text">Exercise 29<div class="btnLine2">Dialog彈出對話框</div>2025 02 21</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise30"><div class="btn-text">Exercise 30<div class="btnLine2">Loading啟動&關閉</div>2025 02 21</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise31"><div class="btn-text">Exercise 31<div class="btnLine2">Sidenav側邊攔</div>2025 02 24</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise32"><div class="btn-text">Exercise 32<div class="btnLine2">Toolbar工具列</div>2025 02 24</div></button>
  <button type="button" class="btn btn-light" routerLink="/exercise33"><div class="btn-text">Exercise 33<div class="btnLine2">json-server串接</div>2025 04 06</div></button>
</div>
